/* Navbar container */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  background-color: #121212;
  color: white;
}

/* Logo */
.logo {
  font-size: 20px;
  font-weight: bold;
}

.opt{
    display: flex;
    gap: 10px;
}

/* Links */
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ff4d4d;
}

/* Search bar */
.search-bar {
  padding: 6px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

/* Button */
.login-btn {
  padding: 6px 12px;
  background-color: #ff4d4d;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-btn:hover {
  background-color: #e60000;
}

.signin-btn {
  padding: 6px 12px;
  background-color: #ff5016;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.signin-btn:hover {
  background-color: #f94747;
}
